@page "/tipousuario"
@inject HttpClient Http
@using LaboratorioClient.Models
<div>
      <NavMenu />
 </div>
<br />
<br />
<div class="section-title">
    <h2>Tipos  Usuario</h2>
</div>
<div class="row" style="display:flex;justify-content:center">
    <div class="col-4" style="cursor:pointer" data-bs-toggle="offcanvas" data-bs-target="#offcanvasTipoUsuario" aria-controls="offcanvasScrolling">
        <img src="TipoUsuario.png" class="img-fluid" alt="...">
    </div>
    <div class="col-8" style="display:flex;align-items:center">
            
        <div class="card" style="width:700px; max-height:400px ;height:auto"
                <div class="card-body. overflow-scroll">
                    <table  class="table table-striped table-hover">
                        <thead>
                            <tr>
                                <th>Tipo Empresa </th>
                                <th>Descripcion Tipo de Usuario </th>
                                <th>Ver Equipos </th>
                                <th>Crear Equipos </th>
                                <th>Modificar Equipos </th>
                                <th>Inactivar Equipos </th>
                                <th>Crear Muestras </th>
                                <th>Ver Resultados </th>
                                <th>Modificar Resultados </th>
                                <th> </th>

                            </tr>
                        </thead>
                        <tbody>
                        @foreach (var i in ListadoTipoUsuario)
                        {
                                    <tr>
                                        <td>@i.A1_Tipo_Empresa.Descripcion_Tipo_Empresa_A1</td>
                                        <td>@i.Descripcion_Tipo_Usuario_A3</td>
                                        <td>@i.Ver_Equipos_A3</td>
                                        <td>@i.Crear_Equipos_A3</td>
                                        <td>@i.Modificar_Equipos_A3</td>
                                        <td>@i.Inactivar_Equipos_A3</td>
                                        <td>@i.Crear_Muestras_A3</td>
                                        <td>@i.Ver_Resultados_A3</td>
                                        <td>@i.Modificar_Resultados_A3</td>
                                        <td> <button type="button" class="btn btn-outline-secondary" @onclick="()=>Eliminar(i)">Eliminar</button> </td>
                                   </tr>
                        }
                        </tbody>
                    </table>
                </div>
            </div>
            
            

        
    </div>
</div>

<div class="offcanvas offcanvas-start" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1" id="offcanvasTipoUsuario" aria-labelledby="offcanvasScrollingLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasScrollingLabel">Listado Tipo Usuario</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <p>Laboratorio activo con presencia en mas de 18 paises</p>
        <br />
        <div>           
            <label>Tipo empresa</label>
            <select @bind=nuevotipousuario.A1_Tipo_EmpresaId class="form-select" aria-label="Default select example">
                <option selected>Abrir lista de tipos de empresa </option>
                @foreach (var i in ListadoTipoEmpresa)
                {
                    <option value=@i.Id>@i.Id @i.Descripcion_Tipo_Empresa_A1</option>
                }
            </select>
            <label>Descripción</label>
            <input @bind-value=nuevotipousuario.Descripcion_Tipo_Usuario_A3 class="form-control" placeholder="Descripción" />
            <label>Ver equipos</label>
            <input @bind-value=nuevotipousuario.Ver_Equipos_A3 class="form-control" placeholder="Ver equipos" />
            <label>Crear equipos</label>
            <input @bind-value=nuevotipousuario.Crear_Equipos_A3 class="form-control" placeholder="Crear equipos" />
            <label>Modificar equipos</label>
            <input @bind-value=nuevotipousuario.Modificar_Equipos_A3 class="form-control" placeholder="Modificar equipos" />
            <label>Inactivar equipos</label>
            <input @bind-value=nuevotipousuario.Inactivar_Equipos_A3 class="form-control" placeholder="Inactivar equipos" />
            <label>Crear muestra</label>
            <input @bind-value=nuevotipousuario.Crear_Muestras_A3 class="form-control" placeholder="Crear muestra" />
            <label>Ver resultados</label>
            <input @bind-value=nuevotipousuario.Ver_Resultados_A3 class="form-control" placeholder="Ver resultados" />
            <label>Modificar resultados</label>
            <input @bind-value=nuevotipousuario.Modificar_Resultados_A3 class="form-control" placeholder="Modificar resultados" />
            <br />
            <button @onclick=Guardar type="button" class="btn btn-secondary">
                Guardar
            </button>
            <br />
            <label>@RespuestaAlCrear</label>

        </div>
    </div>
</div>


@code {
    A3_Tipo_Usuario nuevotipousuario = new A3_Tipo_Usuario();
    string RespuestaAlCrear = "";
    public static List<A3_Tipo_Usuario> ListadoTipoUsuario = new List<A3_Tipo_Usuario>();
    public static List<A1_Tipo_Empresa> ListadoTipoEmpresa = new List<A1_Tipo_Empresa>();
    Conexion miconexion = new Conexion();
    async Task Guardar()
    {
        RespuestaAlCrear = "Procesando...";
        var respuesta = await Http.PostAsJsonAsync($"{miconexion.Servidor}/api/A3_Tipo_Usuario/Crear", nuevotipousuario);
        await Actualizar();
        RespuestaAlCrear = await respuesta.Content.ReadAsStringAsync();
        //nuevotipousuario.Nombre_Ciudad_A6 = null;

    }

    async Task Actualizar()
    {
        var listado = await Http.GetFromJsonAsync<List<A3_Tipo_Usuario>>($"{miconexion.Servidor}/api/A3_Tipo_Usuario/Listado");
        ListadoTipoUsuario = listado;
        var listadotipoempresa = await Http.GetFromJsonAsync<List<A1_Tipo_Empresa>>($"{miconexion.Servidor}/api/A1_Tipo_Empresa/Listado");
        ListadoTipoEmpresa = listadotipoempresa;
    }
    protected override async Task OnInitializedAsync()
    {
        await Actualizar();
    }
    async Task Eliminar(A3_Tipo_Usuario objeto)
    {
        var respuesta = await Http.DeleteAsync($"{miconexion.Servidor}/api/A3_Tipo_Usuario/Eliminar/{objeto.Id}");
        Console.WriteLine(respuesta);
        await Actualizar();
    }
}
