@page "/muestralist"
@inject HttpClient Http
@using LaboratorioClient.Models
<div>
      <NavMenu />
 </div>
<br />
<br />
<div class="section-title">
    <h2>Muestra</h2>
</div>
<div class="row" style="display:flex;justify-content:center">
    <div class="col-4" style="cursor:pointer" data-bs-toggle="offcanvas" data-bs-target="#offcanvasTipoUnidad" aria-controls="offcanvasScrolling">
        <img src="Muestra.jpg" class="img-fluid" alt="...">
    </div>
    <div class="col-6" style="display:flex;align-items:center">

        <div class="card" style="width:800px; max-height:400px ;height:auto"
                <div class="card-body. overflow-scroll">
                    <table   class="table table-striped table-hover">
                        <thead>
                            <tr>
                                <th>Numero de gia </th>
                                <th>Servicio Componente</th>
                                <th>Servicio Aceite</th>
                                <th>Relleno</th>
                                <th>Fecha Registro</th>

                                <th> </th>
                            </tr>
                        </thead>
                        <tbody>
                        @foreach (var i in Listado)
                        {
                                        <tr>
                                            <td>@i.Numero_Guia_E14</td>
                                            <td>@i.Servicio_Componente_E14</td>
                                            <td>@i.Servicio_Aceite_E14</td>
                                            <td>@i.Relleno_E14</td>
                                            <td>@i.Fecha_Registro_E14</td>
                                            
                                            <td> <button type="button" class="btn btn-outline-secondary" @onclick="()=>Eliminar(i)">Eliminar</button> </td>
                                        </tr>
                        }
                        </tbody>
                    </table>
                </div>
            </div>


        


    </div>
</div>

<div class="offcanvas offcanvas-start" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1" id="offcanvasTipoUnidad" aria-labelledby="offcanvasScrollingLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasScrollingLabel">Muestra</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <p>Laboratorio activo con presencia en mas de 18 paises</p>
        <br />
        <div>
            <label>Fecha Registro</label> 
            <input @bind-value=nuevamuestra.Fecha_Registro_E14 type="datetime" class="form-control"  />
            <label>Numero Guia</label>
            <input @bind-value=nuevamuestra.Numero_Guia_E14 class="form-control" placeholder="Numero Guia" />
            <label>Servicio Componente</label>
            <input @bind-value=nuevamuestra.Servicio_Componente_E14 class="form-control" placeholder="Servicio Componente" />
            <label>Servicio Aceite</label>
            <input @bind-value=nuevamuestra.Servicio_Aceite_E14 class="form-control" placeholder="Servicio Aceite" />
            <label>Relleno</label>
            <input @bind-value=nuevamuestra.Relleno_E14 class="form-control" placeholder="Relleno" />
            <label>ID Componente Cliente </label>
            <select @bind=nuevamuestra.E5_Componente_ClienteId class="form-select" aria-label="Default select example">
                <option selected>Abrir lista de componentes</option>
                @foreach (var i in ListadoE5_Componente_Cliente)
                {
                    <option value=@i.Id>@i.E4_Especificaciones_Componente.Modelo_E4</option>
                }
            </select>
            <label>ID Courrier </label>
            <select @bind=nuevamuestra.E16_CourrierId class="form-select" aria-label="Default select example">
                <option selected>Abrir lista de couriers</option>
                @foreach (var i in ListadoE16_Courrier)
                {
                    <option value=@i.Id>@i.Nombre_Courrier_E16</option>
                }
            </select>
            <label>ID Usuario </label>
            <select @bind=nuevamuestra.A4_UsuarioId class="form-select" aria-label="Default select example">
                <option selected>Abrir lista de usuarios</option>
                @foreach (var i in ListadoA4_Usuario)
                {
                    <option value=@i.Id>@i.Apellido_A4</option>
                }
            </select>
            
            <button @onclick=Guardar type="button" class="btn btn-secondary">
                Guardar
            </button>
            <br />
            <label>@RespuestaAlCrear</label>

        </div>
    </div>
</div>
@code {
    E14_Muestra nuevamuestra = new E14_Muestra();
    string RespuestaAlCrear = "";
    Conexion miconexion = new Conexion();
    public static List<E14_Muestra> Listado = new List<E14_Muestra>();
    public static List<E5_Componente_Cliente> ListadoE5_Componente_Cliente = new List<E5_Componente_Cliente>();
    public static List<E16_Courrier> ListadoE16_Courrier = new List<E16_Courrier>();
    public static List<A4_Usuario> ListadoA4_Usuario = new List<A4_Usuario>();
    

    async Task Guardar()
    {
        RespuestaAlCrear = "Procesando...";
        var respuesta = await Http.PostAsJsonAsync($"{miconexion.Servidor}/api/E14_Muestra/Crear", nuevamuestra);
        await Actualizar();
        RespuestaAlCrear = await respuesta.Content.ReadAsStringAsync();
        nuevamuestra.Numero_Guia_E14 = null;    
    }

    async Task Actualizar()
    {
        var listado = await Http.GetFromJsonAsync<List<E14_Muestra>>($"{miconexion.Servidor}/api/E14_Muestra/Listado");
        Listado = listado;
        var listadocomponentecliente = await Http.GetFromJsonAsync<List<E5_Componente_Cliente>>($"{miconexion.Servidor}/api/E5_Componente_Cliente/Listado");
        ListadoE5_Componente_Cliente = listadocomponentecliente;
        var listadocourier = await Http.GetFromJsonAsync<List<E16_Courrier>>($"{miconexion.Servidor}/api/E16_Courrier/Listado");
        ListadoE16_Courrier = listadocourier;
        var listausuario = await Http.GetFromJsonAsync<List<A4_Usuario>>($"{miconexion.Servidor}/api/A4_Usuario/Listado");
        ListadoA4_Usuario = listausuario;
        
    }
    protected override async Task OnInitializedAsync()
    {
        await Actualizar();
    }
    async Task Eliminar(E14_Muestra objeto)
    {


        var respuesta = await Http.DeleteAsync($"{miconexion.Servidor}/api/E14_Muestra/Eliminar/{objeto.Id}");
        Console.WriteLine(respuesta);
        await Actualizar();
    }
}

