@page "/resultadolist"
@inject HttpClient Http
@using LaboratorioClient.Models
<div>
      <NavMenu />
 </div>

<div>
    <NavMenu />
</div>

<div id="contenedor">
    <section id="foto">
        <div class="section-title; ">
            <h2>Resultado</h2>
        </div>
        <br />
        <div class="col-12" style="cursor:pointer" data-bs-toggle="offcanvas" data-bs-target="#offcanvasTipoUnidad" aria-controls="offcanvasScrolling">
            <img src="Resultado.jpeg" class="img-fluid" alt="...">
        </div>
    </section>
    <section id="contenido">
        <div class="card" style="width:auto;max-width:700px; max-height:450px ;height:auto"
                <div class="card-body. overflow-scroll">
             <table   class="table table-striped table-hover">
                        <thead>
                            <tr>
                                <th>Descripcion Prueba</th>
                                <th>Valor Prueba</th>
                                <th></th>

                            </tr>
                        </thead>
                        <tbody>
                        @foreach (var i in Listado)
                        {
                                            <tr>
                                                <td>@i.Texto_Prueba_L15</td>
                                                <td>@i.Valor_Prueba_L15</td>
                                                    <td> <button type="button" class="btn btn-outline-secondary" @onclick="()=>Eliminar(i)">Eliminar</button> </td>
                                            </tr>
                        }
                        </tbody>
                    </table>

                </div>
            </div>


    </section>
</div>


<div class="offcanvas offcanvas-start" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1" id="offcanvasTipoUnidad" aria-labelledby="offcanvasScrollingLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasScrollingLabel">Resultado</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <p>Laboratorio activo con presencia en mas de 18 paises</p>
        <br />
        <div>
            <label>Descripcion</label>
            <input @bind-value=nuevoresultado.Texto_Prueba_L15 class="form-control" placeholder="Descripcion" />
            <label>Valor Prueba</label>
            <input @bind-value=nuevoresultado.Valor_Prueba_L15 type="number" class="form-control" placeholder="Valor Prueba" />

            
            <label>Muestra</label>
            <select @bind=nuevoresultado.E14_MuestraId class="form-select" aria-label="Default select example">
                <option selected>Abrir lista de muestras</option>
                @foreach (var i in ListadoE14_Muestra)
                {
                    <option value=@i.Id>@i.Numero_Guia_E14</option>
                }
            </select>
            <label>Prueba</label>
            <select @bind=nuevoresultado.L1_PruebaId class="form-select" aria-label="Default select example">
                <option selected>Abrir lista de prueba</option>
                @foreach (var i in ListadoL1_Prueba)
                {
                    <option value=@i.Id>@i.Nombre_Prueba_L1</option>
                }
            </select>
            
            <button @onclick=Guardar type="button" class="btn btn-secondary">
                Guardar
            </button>
            <br />
            <label>@RespuestaAlCrear</label>

        </div>
    </div>
</div>

<style>
    #contenedor {
        width: auto;
        max-width: 1000px;
        height: auto;
        margin: auto;
        margin-top: 20px;
        margin-bottom: 20px;
        padding-bottom: 20px;
    }

    #contenido {
        width: 700px;
        height: 450px;
        float: right;
    }

    #foto {
        width: 280px;
        height: 500px;
        float: left
    }
</style>

@code {
    Conexion miconexion = new Conexion();
    E15_Resultado nuevoresultado = new E15_Resultado();
    string RespuestaAlCrear = "";

    public static List<E15_Resultado> Listado = new List<E15_Resultado>();
    public static List<E14_Muestra> ListadoE14_Muestra = new List<E14_Muestra>();
    public static List<L1_Prueba> ListadoL1_Prueba = new List<L1_Prueba>();
   

    async Task Guardar()
    {
        RespuestaAlCrear = "Procesando...";
        var respuesta = await Http.PostAsJsonAsync($"{miconexion.Servidor}/api/E15_Resultado/Crear", nuevoresultado);
        await Actualizar();
        RespuestaAlCrear = await respuesta.Content.ReadAsStringAsync();
        nuevoresultado.Texto_Prueba_L15 = null;
      


    }

    async Task Actualizar()
    {
        var listado = await Http.GetFromJsonAsync<List<E15_Resultado>>($"{miconexion.Servidor}/api/E15_Resultado/Listado");
        Listado = listado;
        
        var listadomuestra = await Http.GetFromJsonAsync<List<E14_Muestra>>($"{miconexion.Servidor}/api/E14_Muestra/Listado");
        ListadoE14_Muestra = listadomuestra;

        var listaprueba = await Http.GetFromJsonAsync<List<L1_Prueba>>($"{miconexion.Servidor}/api/L1_Prueba/Listado");
        ListadoL1_Prueba = listaprueba;

    }
    protected override async Task OnInitializedAsync()
    {
        await Actualizar();
    }
    async Task Eliminar(E15_Resultado objeto)
    {


        var respuesta = await Http.DeleteAsync($"{miconexion.Servidor}/api/E15_Resultado/Eliminar/{objeto.Id}");
        Console.WriteLine(respuesta);
        await Actualizar();
    }
}
